.app-container {
  margin: auto;
  padding: 20px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background: #e9e2e2;
}

h1 {
  text-align: center;
  color: rgb(240, 83, 10);
}

input[type="text"] {
  width: 50%;
  padding: 8px;
  border-color: darkgray;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 2;
}

label {
  margin-left: 5px;
  font-weight: 600;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-list li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border: 1px solid rgb(165, 164, 164);
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  color: green;
  font-weight: 700;
}

.completed {
  text-decoration: line-through;
  color: orangered;
  font-weight: 600;
}

input,
button {
  margin-top: 10px;
  padding: 8px;
}

button {
  margin-left: 5px;
  cursor: pointer;
  background-color: #dd0909;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 6px 10px;
  font-size: 15px;
}

/* Edit button styles */
.todo-list li .edit-button {
  position: absolute;
  right: 75px;
  top: 50%;
  transform: translateY(-65%);
  padding: 6px;
  cursor: pointer;
  background-color: #2196f3; /* Blue color for edit button */
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 14px;
}

/* .todo-list li:hover .edit-button {
  display: inline-block;
} */
